/*
Colors used:
Primary Color: #45B889
Dark Accent: #3D82AB
Light Accent: #91D4C2
Dark Shade: #003853
Light Shade: #FCFCFC
*/

* {
  box-sizing: border-box;
}

body {
  background-color: #fcfcfc;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  color: #01151f;
  margin: auto;
  padding-bottom: 0px;
}

header {
  width: 100%;
  background-color: #0d3153;
  padding-top: 15px;
  padding-bottom: 10px;
  position: fixed;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.2);
  -moz-box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.2);
  box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.2);
}

nav {
  display: inline-block;
  width: 100%;
}

main {
  padding-top: 93px;
}

footer {
  background-color: #0d3153;
  text-align: center;
  color: #ffffff;
  bottom: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'PT Serif', serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  color: #45b889;
  margin: auto;
}

h1 {
  font-size: 3.052em;
  font-weight: 700;
  letter-spacing: -1.5px;
}

h2 {
  color: #45b889;
  font-size: 2.4441em;
  font-weight: 700;
  letter-spacing: -0.5px;
}

h3 {
  color: #45b889;
  font-size: 1.953em;
  font-weight: 700;
  letter-spacing: 0px;
}

h4 {
  color: #45b889;
  font-size: 1.563em;
  font-weight: 700;
  letter-spacing: 0.25px;
}

h5 {
  color: #45b889;
  font-size: 1.25em;
  font-weight: 700;
  letter-spacing: 0px;
}

img {
  width: 100%;
}

a {
  color: #FFFFFF;
  text-decoration: none;
}

a.visited {
  color: #FFFFFF;
}

a:hover,
a:focus {
  color: #91d4c2;
  text-decoration: underline;
}

a:active {
  color: #3d82ab;
  text-decoration: none;
}

.button {
  display: inline-block;
  background-color: #45b889;
  color: #ffffff !important;
  font-weight: 500;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px;
  transition-duration: 0.5s;
  transition-property: opacity;
}

.button:hover {
  opacity: 0.8;
}

.button:active {
  opacity: 0.8;
  text-decoration: none;
}

.button.contact {
  display: inline-block;
  background-color: transparent;
  color: #45bb89 !important;
  text-transform: uppercase;
  font-weight: 500;
  padding: 10px;
  border: 2px solid;
  border-color: #45b889;
  transition-duration: 0.5s;
  transition-property: opacity;
}

.button.contact:hover {
  display: inline-block;
  background-color: #45b889;
  color: #ffffff !important;
  font-weight: 500;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px;
}

.button.contact:active {
  opacity: 0.8;
  text-decoration: none;
}

.icon {
  display: inline-block;
  width: 3.5em;
  text-align: center;
}

.title {
  font-family: 'PT Serif', serif;
  font-size: 1.953em;
  font-weight: 400;
  color: #FFFFFF;
}

/* Layout styling */
#hero {
  background-color: #0d3153;
  color: #ffffff;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
  text-align: center;
}

#hero h1 {
  text-align: center;
}

#hero span {
  display: block;
}

#work {
  padding-top: 15px;
}

#work .row {
  padding-bottom: 25px;
  border-bottom: 3px solid #91d4c2;
}

#footer {
  padding-top: 15px;
  padding-bottom: 15px;
}

#about {
  padding-top: 15px;
}

#expertbell {
  padding-top: 15px;
}

.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0;
}

.logo {
  max-width: 250px;
  text-align: center;
}

.center {
  text-align: center;
}

.navigation {
  text-align: center;
}

.profile {
  width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.footerpadding {
  padding: 15px;
}

nav>ul {
  display: inline-block;
  list-style-type: none;
  padding: 0;
  text-align: center;
}

nav>ul>li {
  display: inline-block;
  text-align: center;
  list-style-type: none;
  padding: 0;
}

nav>ul>li>a {
  display: inline-block;
  padding: 0 15px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
}

nav>ul>li>a:visited {
  display: inline-block;
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
}

nav>ul>li>a:hover {
  display: inline-block;
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #91d4c2;
  text-align: center;
}

nav>ul>li>a:focus {
  display: inline-block;
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #91d4c2;
  text-align: center;
}

nav>ul>li>a:active {
  display: inline-block;
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #3d82ab;
  text-decoration: none;
  text-align: center;
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

.heart {
    animation: 5s heart-move infinite alternate linear;

}

@keyframes color-change {
  0% {
    fill: #EDC655;
  }

  50% {
    fill: #fcffad;
  }

  100% {
    fill: #f76414;
  }
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }

  to {
    transform: translate(100px, 48px);
  }
}

@keyframes heart-move {
 from {
    transform: translate(0px, 0px);
  }

  to {
    transform: translate(-200px, -150px);
  }
}

/* === Small Devices (640px and smaller) === */
@media only screen and (max-width:640px) {
  header {
    text-align: center;
    padding: 20px 0 13px;
  }

  main {
    padding-top: 127px;
  }
}

/* === Medium Devices (640px and larger) === */
@media only screen and (min-width:640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  main {
    padding-top: 93px;
  }

  .col-md-6 {
    width: 50%;
  }

  [class*="col-"] {
    float: left;
    padding: 10px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  #about h3 {
    margin-top: 0;
  }

  #about .center {
    margin-left: 0;
  }
}

/* === Large Devices (1024px or larger) === */
@media only screen and (min-width: 1024px) {
  .col-lg-7 {
    width: 60%;
  }

  .col-lg-5 {
    width: 40%;
  }

  [class*="col-"] {
    float: left;
    padding: 10px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }
}

/* === X-large devices (1440px or larger) */
@media only screen and (min-width: 1440px) {
  .col-xl-7 {
    width: 60%;
  }

  .col-xl-5 {
    width: 40%;
  }

  .container {
    margin-left: auto;
    margin-right: auto;
  }

  [class*="col-"] {
    float: left;
    padding: 10px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }
}
